@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');


.App {
  text-align: center;
  font-family: "Do Hyeon";
}

@font-face {
  font-family: "DoHyeon-Regular";
  src: url("./assets/fonts/BMDOHYEON_ttf.ttf");
}

/*  에스코어 폰트 굵기별 format woff 필수!! */
@font-face {
  font-family: "SCDream1";
  src: url("./assets/fonts/SCDream1.woff") format('woff')
}
@font-face {
  font-family: "SCDream2";
  src: url("./assets/fonts/SCDream2.woff") format('woff')
}
@font-face {
  font-family: "SCDream3";
  src: url("./assets/fonts/SCDream3.woff") format('woff')
}
@font-face {
  font-family: "SCDream4";
  src: url("./assets/fonts/SCDream4.woff") format('woff')
}
@font-face {
  font-family: "SCDream5";
  src: url("./assets/fonts/SCDream5.woff") format('woff')
}
@font-face {
  font-family: "SCDream6";
  src: url("./assets/fonts/SCDream6.woff") format('woff')
}
@font-face {
  font-family: "SCDream7";
  src: url("./assets/fonts/SCDream7.woff") format('woff')
}
@font-face {
  font-family: "SCDream8";
  src: url("./assets/fonts/SCDream8.woff") format('woff')
}
@font-face {
  font-family: "SCDream9";
  src: url("./assets/fonts/SCDream9.woff") format('woff')
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
